<% provide(:title,"About Us") %>
<div class="container">
<h1>About Us</h1>
<p>To know more about todo list, visit <%= link_to "Todo-List", "https://en.wikipedia.org/wiki/Wikipedia:To-do_list" %></p>
</div>