
@import "bootstrap";

html {
	height: 100%;
	margin: 0;
}
html {
	overflow-y: scroll;
}
body {
	margin: 0;
	height: 100%;
	padding-top: 60px;
	display: block;
	background-color: #87CEFF;
}
ul {
	float: justified;
	list-style-type: none;
}

input {
	display: block;
}

select {
	display: block;
}